
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  padding: 16px;
  margin-top: 50px; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #578FCA;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}


.heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.button {
  background-color: #4f46e5;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #4338ca;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.query-history {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
}

.query-history li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background 0.2s;
}

.query-history li:hover {
  background-color: #f0f0f0;
}

.result-message {
  font-size: 18px;
  font-weight: 600;
  color: #16a34a;
  margin-bottom: 10px;
}
